# Values are supplied by the shared project-crypt-tezos-localnet profile wrapper.
# Do not copy public-network addresses or credentials into this file.
TEZOS_NETWORK=localnet
TEZOS_RPC_URL=http://127.0.0.1:8732
TEZOS_CHAIN_ID=NetXtJqPyJGB6Pc
TEZOS_INDEXER_URL=
NEXT_PUBLIC_TEZOS_NETWORK=localnet
NEXT_PUBLIC_TEZOS_RPC_URL=http://127.0.0.1:8732
NEXT_PUBLIC_TEZOS_CHAIN_ID=NetXtJqPyJGB6Pc
NEXT_PUBLIC_TEZOS_INDEXER_URL=
